/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* Custom styling */
.aptum-logo{
  width: 25%;
}

.aptum-logo2{
  width: 65%;
}
.client_logo{
  width:50%;
}
.slider-image{
  width: 100px;
}
.button-color{
  background-color: grey;
}
.nav-text{
  font-weight: bold;
}
.main-text{
  color:#12638c;
}
.content-text{
  font-size: 18px;
}
.slide-pic{
  opacity: 0.2;
}
.slide-header{

}
.slide-text{
  font-size: 150%;
}
.main-text-sub{
  color:#051633;
  color:#0c2042;
}
.page-hr{
  width: 100%;
}
.about-pic{
  width: 100%;
  border-radius: 30%;
}
.footerImage{
  width: 30%;
}

/* Materalize in styling */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
